* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

// parallax

.object-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-wrapper ~ .object-wrapper {
  justify-content: end;
}

h1 {
  z-index: 10;
}

#object-girl {
  position: relative;
  top: -600px;
}

#object-star-1 {
  position: absolute;
  z-index: 2;
  left: 70%;
  top: 70%;
  width: 10%;
  opacity: 1;
}

#object-star-2 {
  position: absolute;
  z-index: 2;
  left: 15%;
  top: 35%;
  width: 20%;
  opacity: 1;
}

#object-star-3 {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 80%;
  width: 5%;
}

#object-star-4 {
  position: absolute;
  z-index: 2;
  left: 2%;
  top: 20%;
  width: 10%;
}

#object-star-5 {
  position: absolute;
  z-index: 2;
  left: 65%;
  top: 40%;
  width: 10%;
}

#object-star-6 {
  position: absolute;
  z-index: 2;
  left: 85%;
  top: 30%;
  width: 2%;
}

// horizontal scroll

.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

.slider-mask {
  overflow: hidden;
}

.slider-track {
  height: 100%;
  display: inline-flex;
  border-radius: 5px;
}

.slider-track .screen {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

// zoom

.txt {
  text-align: center;
  padding: 40 15 40 15;
}

.zoom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#zoom-element {
  margin-top: 40px;
  width: 300px;
}

// parallax 2

.context {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#img-right-2 {
  position: relative;
  width: 710px;
  right: -150%;
  opacity: 0;
}

#txt-left-1 {
  position: relative;
  padding: 118 155 0 80;
  left: -100%;
  opacity: 0;
}

//parallax 3

.manif-wrapper {
  display: flex;
  justify-content: space-between;
}

#manif-left-1 {
  width: 907px;
  left: -60%;
}

#manif-right-2 {
  width: 1199px;
  right: -60%;
}

#txt-right-1 {
  padding: 118 0 0 80;
  opacity: 0;
}

//apparition

.revolte {
  width: 1064px;
}

.vendredi {
  width: 1064px;
}

// zoom 2

.god-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.marjane-cry {
  margin-top: 50%;
  height: 494px;
}

// btn

.news-transition {
  margin-top: 477px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newspaper-btn {
  width: 630px;
}

// cadavre

.object-wrapper-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-wrapper-body ~ .object-wrapper-body {
  justify-content: end;
}

#object-leg-1 {
  position: absolute;
  z-index: 2;
  left: 70%;
  top: 70%;
  width: 10%;
  opacity: 1;
}

#object-leg-2 {
  position: absolute;
  z-index: 2;
  left: 70%;
  top: 80%;
  width: 10%;
  opacity: 1;
}

#object-bassin {
  position: absolute;
  z-index: 2;
  left: 80%;
  top: 75%;
  width: 10%;
  opacity: 1;
}

#object-torse {
  position: absolute;
  z-index: 2;
  left: 90%;
  top: 75%;
  width: 10%;
  opacity: 1;
}

#object-arms-1 {
  position: absolute;
  z-index: 2;
  left: 95%;
  top: 60%;
  width: 10%;
  opacity: 1;
}

#object-arms-2 {
  position: absolute;
  z-index: 2;
  left: 95%;
  top: 90%;
  width: 10%;
  opacity: 1;
}

#object-head {
  position: absolute;
  z-index: 2;
  left: 90%;
  top: 75%;
  width: 10%;
  opacity: 1;
}

// marjane apparition

.container-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 280px;
}

.marjane-placement {
  width: 846px;
}

.marjane-dark {
  height: 100vh;
  object-fit: none;
}

#part-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
}

h2 {
  margin-top: 200px;
}

.description {
  margin-top: 40px;
}

.btn {
  margin-top: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background: #fff;
  padding: 10px 20px;
}

.tome-1 {
  height: 630px;
  margin-top: 130;
}

.portrait-marjane {
  margin-top: 300px;
  width: 413px;
}

// footer

.logo-asso {
  width: 197px;
  margin-bottom: 40px;
  margin-top: 77px;
}

.foot-title {
  margin-top: 77px;
}

.foot-title-number {
  margin-top: 28px;
}

.button-subscribe {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-btn-dark {
  margin-top: 20px;
  display: flex;
  width: 209px;
  padding: 10px;
  gap: 10px;
  border: 3px solid #fff;
}

.footer-btn-white {
  margin-top: 20px;
  width: 111px;
  padding: 10px;
  gap: 10px;
  border: 3px solid #000000;
  background: #fff;
}

.logo-eikon {
  margin-top: 77px;
  height: 75px;
  margin-bottom: 17px;
}

.logo-fribourg {
  height: 147px;
}

#logos-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insta {
  width: 2%;
}

.facebook {
  width: 2%;
}

#follow-us {
  margin-bottom: 67px;
}

.litle-txt {
  margin-bottom: 50px;
}

#droits {
  display: flex;
  justify-content: end;
}
