* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

// parallax

.object-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-wrapper ~ .object-wrapper {
  justify-content: end;
}

.object-one {
  position: relative;
  z-index: 1;
}

#object-star-1 {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  left: 70%;
  top: 55%;
  width: 10%;
  opacity: 1;
}

#object-star-2 {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  left: 15%;
  top: 25%;
  width: 20%;
  opacity: 1;
}

#object-star-3 {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  left: 10%;
  top: 70%;
  width: 5%;
}

#object-star-4 {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  left: 2%;
  top: 5%;
  width: 10%;
}

#object-star-5 {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  left: 50%;
  top: 20%;
  width: 10%;
}

#object-star-6 {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  left: 85%;
  top: 10%;
  width: 5%;
}

// horizontal scroll

.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

.slider-mask {
  overflow: hidden;
}

.slider-track {
  height: 100%;
  display: inline-flex;
  border-radius: 5px;
}

.slider-track .screen {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}
