h1 {
  color: #fff;
  text-align: center;
  font-family: Alexandria;
  font-size: 146px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 7.3px;
}

p {
  font-family: "Bradley Hand";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt {
  color: #fff;
}

.explications {
  color: black;
}

h2 {
  color: #000;
  font-family: Alexandria;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: #000;
  font-family: Alexandria;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #000;
  font-family: Alexandria;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.btn {
  color: #000;
  text-align: center;
  font-family: Alexandria;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.foot-title {
  color: #fff;
  font-family: Alexandria;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.foot {
  color: #fff;
  font-family: Alexandria;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.follow {
  color: #fff;
  font-family: Alexandria;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.litle-txt {
  color: #fff;
  font-family: Alexandria;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.foot-title-number {
  color: #fff;
  font-family: Alexandria;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.foot-date {
  color: #fff;
  font-family: Alexandria;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-btn-dark {
  color: #fff;
  font-family: Alexandria;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-btn-white {
  color: #000000;
  font-family: Alexandria;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-title-txt {
  color: #ffffff;
  font-family: Alexandria;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
