h1 {
  color: #fff;
  text-align: center;
  font-family: Alexandria;
  font-size: 146px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 7.3px;
}

p {
  font-family: "Bradley Hand";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt {
  color: #fff;
}

.explications {
  color: black;
}
