.intro {
  padding-top: 2%;
  background-color: rgb(0, 0, 0);
}

.scroll-images {
  background-color: rgb(0, 0, 0);
}

.presentation {
  background-color: black;
  height: 100vh;
}

.context {
  height: 100vh;
}

.manifestation {
  margin-top: 220px;
}

.revolte {
  margin-top: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 268px;
}

.god {
  margin-top: 220;
  background-color: black;
}

button {
  padding: 0;
  border: none;
  background: none;
}
