.intro {
  padding-top: 2%;
  background-color: rgb(0, 0, 0);
}

.scroll-images {
  background-color: rgb(0, 0, 0);
}

.presentation {
  background-color: black;
  height: 200vh;
}

.context {
  height: 100vh;
}

.manifestation {
  margin-top: 220px;
  width: 200vh;
}

.revolte-container {
  margin-top: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  gap: 268px;
}

.god {
  margin-top: 220;
  background-color: black;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.dead-body-container {
  background: #982d3d;
  height: 100vh;
  margin-bottom: 280px;
}

.book {
  margin-left: 80px;
  margin-right: 80px;
}

.container-footer {
  margin-left: 80px;
  margin-right: 80px;
}

footer {
  background: #000;
  margin-top: 165px;
}

.cursor {
  width: 15px;
  height: 15px;
  z-index: 11;
  border-radius: 15px;
  background: #982d3d;
  position: fixed;
  pointer-events: none;
  transition: transform 0.3s ease;
  opacity: 0;
}

.cursor.link-hover {
  background: #982d3d;
  transform: scale(1.5);
}

body {
  cursor: none;
}

body:hover .cursor {
  opacity: 1;
}
